body {
  font-family: Arial, Tahoma;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0; }

h2, h4 {
  color: #4c4141; }

h2 span {
  position: relative;
  display: inline-block; }
  h2 span::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 2px;
    height: 2px;
    background-color: #4c4141; }

ul {
  list-style: none;
  padding: 0; }
  ul li {
    padding: 0; }

a, a:hover {
  text-decoration: none; }

.over_hidden {
  overflow: hidden; }

button, button:focus, button:active, button:visited {
  outline: none; }

a, a:focus, a:active, a:visited {
  outline: none; }

p {
  line-height: 1.6;
  color: #868080;
  font-size: 13px; }

hr {
  margin: 0; }

section {
  padding: 35px 0 35px; }

.topbutton {
  position: fixed;
  right: 25px;
  bottom: 30px;
  width: 55px;
  height: 55px;
  background-color: #0fff59;
  border: 5px solid #080071;
  border-radius: 50%;
  display: none;
  font-size: 35px;
  z-index: 555; }
  .topbutton i.fas {
    display: block;
    color: #080071; }

.spinner {
  position: fixed;
  background-color: #0fff59;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1031;
  text-align: center;
  line-height: 50px;
  display: none; }

.spinner span {
  display: inline-block;
  position: fixed;
  margin-left: -25px;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top: 5px solid #000;
  border-collapse: collapse;
  -webkit-animation: spinner 0.8s infinite linear forwards;
          animation: spinner 0.8s infinite linear forwards; }
  .spinner span:first-of-type {
    top: 49%;
    left: 50%;
    border-top-color: #b70d0d;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s; }
  .spinner span:nth-of-type(2) {
    top: 52%;
    left: 49%;
    border-top-color: #a61dbf;
    -webkit-animation-duration: .55s;
            animation-duration: .55s; }
  .spinner span:nth-of-type(3) {
    top: 52%;
    left: 51%;
    border-top-color: #0e1baf;
    -webkit-animation-duration: .6s;
            animation-duration: .6s; }
  .spinner span:nth-of-type(4) {
    top: 55%;
    left: 50%;
    border-top-color: #222;
    -webkit-animation-duration: .65s;
            animation-duration: .65s; }

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
header {
  background: url(../images/web-design.jpg);
  background-size: cover;
  min-height: 600px;
  position: relative;
  overflow: hidden; }
  header div.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); }
    header div.overlay .container:nth-of-type(2) {
      position: relative; }
    header div.overlay .owl-carousel.owl-drag {
      color: white;
      margin: 190px auto 0; }
      header div.overlay .owl-carousel.owl-drag .owl-item .item {
        width: 70%;
        margin: auto;
        text-align: center; }
        header div.overlay .owl-carousel.owl-drag .owl-item .item h1 {
          margin: 0;
          text-transform: uppercase; }
          header div.overlay .owl-carousel.owl-drag .owl-item .item h1 span {
            color: #0fff59; }
        header div.overlay .owl-carousel.owl-drag .owl-item .item p {
          color: #ddd;
          width: 52%;
          margin: 19px auto; }
      header div.overlay .owl-carousel.owl-drag .owl-nav button {
        width: 30px;
        height: 30px;
        border: 1px solid #FFF;
        border-radius: 50%;
        position: absolute;
        z-index: 3000;
        -webkit-transition: all ease-in-out 0.3s;
                transition: all ease-in-out 0.3s; }
        header div.overlay .owl-carousel.owl-drag .owl-nav button.owl-prev {
          top: 80px;
          left: 20px; }
        header div.overlay .owl-carousel.owl-drag .owl-nav button.owl-next {
          top: 80px;
          right: 20px; }
        header div.overlay .owl-carousel.owl-drag .owl-nav button:hover {
          color: #0fff59;
          border-color: #0fff59; }
    header div.overlay > button {
      background: transparent;
      outline: none;
      border: 1px solid #FFF;
      padding: 8px 20px;
      margin: 167px auto 0;
      display: block;
      color: #FFF;
      width: 140px;
      border-radius: 10px;
      text-transform: uppercase; }
      header div.overlay > button:hover {
        background-color: #0fff59;
        border-color: #0fff59;
        color: black;
        -webkit-transition: all ease-in-out 0.3s;
                transition: all ease-in-out 0.3s; }
  header nav.bg-dark {
    background-color: transparent;
    -webkit-transition: all ease-in-out 0.3s;
            transition: all ease-in-out 0.3s; }
    header nav.bg-dark a.navbar-brand {
      font-size: 35px;
      font-weight: bold;
      letter-spacing: 2px;
      text-shadow: 3px 2px 8px #0fff59; }
    header nav.bg-dark .navbar-nav li {
      margin-right: 20px; }
      header nav.bg-dark .navbar-nav li:last-of-type {
        margin-right: 0; }
      header nav.bg-dark .navbar-nav li .nav-link {
        font-size: 14px;
        padding: 0;
        color: #ddd;
        -webkit-transition: all ease-in-out 0.3s;
                transition: all ease-in-out 0.3s; }
        header nav.bg-dark .navbar-nav li .nav-link:hover {
          color: #0fff59 !important; }
      header nav.bg-dark .navbar-nav li.active {
        border-bottom: 1px solid #0fff59; }
        header nav.bg-dark .navbar-nav li.active > .nav-link {
          color: #0fff59 !important; }

.services {
  padding-top: 70px; }
  .services h2 span::after {
    width: 95%; }
  .services div.service {
    margin: 50px 0; }
    .services div.service > div {
      margin-top: 28px; }
    .services div.service .fas {
      font-size: 40px;
      display: inline-block;
      color: #0fff59;
      margin-right: 6px;
      width: 109%; }
    .services div.service h4 {
      font-size: 16px;
      font-weight: bold;
      margin: 0; }
    .services div.service p {
      margin-top: 15px; }

section .our_team h2 span::after {
  width: 95%; }
section .our_team p {
  margin-top: 20px; }
section div.col-md-2.mem {
  max-height: 150px; }
  section div.col-md-2.mem .mem_over {
    height: 100%;
    padding: 2px;
    border: 1px solid #ddd;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.6);
    -webkit-transition: all ease-in-out 0.3s;
            transition: all ease-in-out 0.3s; }
    section div.col-md-2.mem .mem_over img.img-fluid {
      height: 100%;
      width: 100%; }
  section div.col-md-2.mem:hover .mem_over {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2), 5px 5px 8px rgba(0, 0, 0, 0.6), 5px 5px 8px rgba(0, 0, 0, 0.9);
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.testim {
  background: url(../images/web-design.jpg);
  background-size: cover;
  position: relative;
  margin-top: 40px;
  min-height: 400px;
  background-position: center; }
  .testim .overlay {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 96px 0; }
    .testim .overlay h2 {
      color: white;
      font-size: 27px;
      letter-spacing: 1.8px; }
      .testim .overlay h2 span::after {
        width: 55%;
        background-color: white; }
    .testim .overlay .client p {
      color: #ddd;
      width: 44%;
      margin: 50px auto;
      line-height: 1.1;
      text-shadow: 0 0 6px rgba(255, 255, 255, 0.3), 0 0 6px rgba(255, 255, 255, 0.7); }
      .testim .overlay .client p span {
        color: #0fff59;
        font-size: 20px; }
      .testim .overlay .client p.name {
        color: #0fff59;
        font-size: 20px;
        letter-spacing: 1px;
        text-shadow: 0 0 15px #0fff59;
        font-weight: bold; }
    .testim .overlay .client:not(.active) {
      display: none; }

.projects {
  padding-top: 70px;
  padding-bottom: 30px; }
  .projects h2 span::after {
    width: 90%; }
  .projects .buttons {
    margin: 30px 0; }
    .projects .buttons button {
      color: #868080;
      background-color: transparent;
      border: 1px solid #868080;
      padding: 2px 23px;
      border-radius: 5px;
      margin-right: 7px;
      -webkit-transition: all ease-in-out 0.3s;
              transition: all ease-in-out 0.3s; }
      .projects .buttons button.active, .projects .buttons button:hover {
        color: white;
        background-color: #0fff59;
        border-color: #0fff59; }
  .projects .mix_container div.image {
    margin-bottom: 30px;
    position: relative;
    height: 200px; }
    .projects .mix_container div.image .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(15, 255, 89, 0.7);
      padding-left: 15px;
      padding-right: 15px;
      background-clip: content-box;
      opacity: 0;
      color: #080071;
      -webkit-transition: all ease-in-out 0.3s;
              transition: all ease-in-out 0.3s;
      text-align: center;
      line-height: 200px;
      font-size: 30px; }
      .projects .mix_container div.image .overlay i {
        display: inline-block;
        cursor: pointer; }
    .projects .mix_container div.image .img-fluid {
      width: 100%;
      height: 100%; }
    .projects .mix_container div.image span::after, .projects .mix_container div.image span::before {
      -webkit-transition: all ease-in-out 0.3s;
              transition: all ease-in-out 0.3s;
      background-color: #080071; }
    .projects .mix_container div.image span.one::after {
      content: "";
      position: absolute;
      display: inline-block;
      height: 0;
      width: 3px;
      display: inherit;
      top: 0;
      left: 12px; }
    .projects .mix_container div.image span.one::before {
      content: "";
      position: absolute;
      display: inline-block;
      height: 3px;
      width: 0;
      display: inherit;
      top: 100%;
      left: 12px; }
    .projects .mix_container div.image span.two::after {
      content: "";
      position: absolute;
      display: inline-block;
      height: 0;
      width: 3px;
      display: inherit;
      top: 0;
      right: 13px; }
    .projects .mix_container div.image span.two::before {
      content: "";
      position: absolute;
      display: inline-block;
      height: 3px;
      width: 0;
      display: inherit;
      top: 0;
      left: 12px; }
    .projects .mix_container div.image:hover .overlay {
      opacity: 1; }
    .projects .mix_container div.image:hover span.one::after,
    .projects .mix_container div.image:hover span.two::after {
      height: 100%; }
    .projects .mix_container div.image:hover span.one::before,
    .projects .mix_container div.image:hover span.two::before {
      width: 93.5%; }

footer {
  padding: 70px 0 50px;
  background-color: #444;
  color: white; }
  footer ul {
    margin-bottom: 0; }
  footer h4 {
    color: #e4e0e0;
    font-size: 20px;
    margin-bottom: 25px; }
  footer p {
    color: #a09797; }
  footer div.socials {
    margin-top: 10px; }
    footer div.socials i {
      color: #bdb2b2;
      width: 35px;
      height: 35px;
      border: 1px solid #FFF;
      padding: 9px;
      border-radius: 50%;
      text-align: center;
      margin-right: 5px;
      cursor: pointer;
      -webkit-transition: all ease-in-out 0.3s;
              transition: all ease-in-out 0.3s; }
      footer div.socials i:hover {
        color: white;
        border-color: white; }
  footer ul.lang li {
    display: inline-block;
    padding: 5px 14px;
    border: 1px solid #d6cdcd;
    font-size: 14px;
    margin-bottom: 6px;
    margin-right: 0;
    color: #d6cdcd;
    cursor: alias; }
  footer div.post {
    overflow: hidden; }
    footer div.post img {
      width: 65px;
      height: 45px;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px; }
    footer div.post div.post_words {
      float: left;
      margin-top: 5px; }
      footer div.post div.post_words h6 {
        font-size: 13px;
        color: #d6cdcd; }
      footer div.post div.post_words time {
        color: #a09797;
        font-size: 12px; }
  footer ul.cat li {
    padding: 6px 7px;
    border-bottom: 1px solid #d6cdcd; }
    footer ul.cat li a {
      color: #d6cdcd;
      -webkit-transition: all ease-in-out 0.3s;
              transition: all ease-in-out 0.3s;
      display: inline-block; }
    footer ul.cat li:hover > a {
      color: white;
      -webkit-transform: translateX(5px);
          -ms-transform: translateX(5px);
              transform: translateX(5px); }
  footer div.row:nth-of-type(2) {
    padding-top: 20px; }
    footer div.row:nth-of-type(2) i.fas.fa-heart {
      color: red; }

@media (max-width: 991.98px) {
  footer div.row div.col-12.col-md-6.col-lg-3 {
    margin-bottom: 30px; } }
@media (max-width: 767.98px) {
  header nav.bg-dark .navbar-nav li {
    margin-right: 0;
    padding: 5px 0 4px 16px;
    margin-bottom: 10px; }
    header nav.bg-dark .navbar-nav li:first-of-type {
      margin-top: 10px; }
    header nav.bg-dark .navbar-nav li:hover .nav-link, header nav.bg-dark .navbar-nav li.active > .nav-link {
      -webkit-transform: translateX(10px);
          -ms-transform: translateX(10px);
              transform: translateX(10px); }

  .owl-carousel.owl-drag .owl-item .item h1 {
    font-size: 25px; }

  footer div.row div.col-12.col-md-6.col-lg-3 {
    position: relative; }
    footer div.row div.col-12.col-md-6.col-lg-3::after {
      content: "";
      display: block;
      position: absolute;
      top: 103%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #FFF; }
    footer div.row div.col-12.col-md-6.col-lg-3 ul.cat li:last-of-type {
      border-bottom: none; }
    footer div.row div.col-12.col-md-6.col-lg-3 div.socials {
      text-align: center;
      margin-bottom: 2px; } }
@media (max-width: 575.98px) {
  .services h2,
  .team h2,
  .projects h2 {
    font-size: 25px; }

  .services div.service {
    margin: 30px 0; } }
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .owl-carousel.owl-drag .owl-item .item h1 {
    font-size: 30px; }

  .projects .mix_container div.image:hover span.one::before,
  .projects .mix_container div.image:hover span.two::before {
    width: 93.1%; }

  section.team div.col-md-2.mem {
    margin-top: 60px;
    max-height: 94px; } }
@media (min-width: 500px) and (max-width: 575.98px) {
  .projects .mix_container div.image:hover span.one::before,
  .projects .mix_container div.image:hover span.two::before {
    width: 95%; } }
@media (min-width: 575.98px) and (max-width: 767.98px) {
  .projects .mix_container div.image:hover span.one::before,
  .projects .mix_container div.image:hover span.two::before {
    width: 90.6%; } }
@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .projects .mix_container div.image:hover span.one::before,
  .projects .mix_container div.image:hover span.two::before {
    width: 92.1%; } }

/*# sourceMappingURL=classic.css.map */